@import url('https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background: #fff;
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color:#fff;
	margin: -53px 155px;
	font-size: 38px;
	position: static;
}

b {
	text-decoration: none;
	color: #C7EB13;
	font-size: 38px;
}

div.divinfo {
	background: #000;
	margin: 
}

.logo {
	margin: -18px -11px;
	width: 150px;
}

header {
	position: fixed;
	width: 100%;
	height: 90px;
	top: 0;
	left: 0;
	display: block;
	margin: 0px 0px 20px 0px;

	padding: 20px;
	background: #000;
}

div#section {
	background: #fff;
	color: #000;
	width: 100%;
	position: static;
	margin: 0 0 0 0;
}

.div {
	margin: 40px 70px 150px 70px;
	font-size: 15px;
	text-align: center;
	height: 150px;
	width: 260px;
	display: inline-block;
}

h3 {
	font-size: 40px;
	border-left: 6px solid #9aae04;
	padding-left: 1rem;
	margin: 0px 400px 0px 400px;
}


h4 {
	font-size: 20px;
	margin: 15px;

	font-family: 'Arimo', sans-serif;
}

p { margin: 5px 0 0 0; 
	font-size: 16px;

	font-family: 'Arimo', sans-serif; 
}

div.section2 {
	background: #DBDBDB;
	width: 100%;
	color: #000;
	padding: 15px;
}

h5 {
	font-size: 40px;
	border-left: 6px solid #9aae04;
	padding-left: 1rem;
	margin: 0px 30% 0px 420px;

}

p.pp {
	margin: 20px 420px 20px 420px;
	text-align: left;
	line-height: 23px;

	font-family: 'Arimo', sans-serif;
}

header #button-menu {
	font-size: 35px;
	color: #C7EB13;
	cursor: pointer;
	float: right;
	margin: 15px 20px;
}

span.fa-arrow-circle-right {
	margin: 5px 5px 5px 5px;
	cursor: pointer;
	font-size: 50px;
	color: #000;

}

a.arrow {
	text-decoration: none;
	color: #000;
	cursor: pointer;
	font-size: 20px;
}


.navegacion{
	position: absolute;
	top: 100%;
	right: 0px;
	width: 0%;
	height: 100vh;
	background: rgba(0,0,0,.0); */
	transition: background 0.3s;

}

.navegacion ul{
	width: 320px;
	height: 560px;
	background: #fff;
	border-radius: 28px 28px 28px 28px;
	list-style: none;
	position: absolute;
	top: 0;
	right: -320px;
	transition: right .3s;
}

.navegacion .menu li.title-menu{
	padding: 20px;
	background: #000;
	color: #fff;
	text-align: center;
	border-radius: 28px 28px 0px 0px;
	font-size: 22px;
}

.navegacion .menu a{
	display: block;
	padding: 20px;
	border-bottom: 1px solid #C6D0DA;

	font-size: 22px;
	font-weight: 200;
	text-decoration: none;
	color: #575D69;
	z-index: 999999;
}

.navegacion .menu a:hover{
	background: #8CBD00;
	color: #fff;
}

.navegacion .menu li span.icon-menu{
	margin-right: 12px;
}

.navegacion .menu .item-submenu > a::after{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f105';
	float: right;
	color: #C5C5C5;
}

/* SUBMENU */

.navegacion .submenu li.title-menu{
	background: #fff;
	color: #575D69;
}

.navegacion .submenu li.go-back{
	padding: 10px 20px;
	background: #000;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.navegacion .submenu li.go-back::before{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f0d9';
	margin-right: 10px;
}

@media screen and (max-width: 320px){
	.navegacion ul{
		width: 100%;
	}
}

.arrowdown {
	color: #000;
	font-size: 66px;
	cursor: pointer;
	
	position: absolute;
	top: 850px;
	left: 50%;

}

.btnbtn {
	border-radius: 10px 10px 10px 10px;
	height: 50px;
	width: 150px;
	background: #056A67;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	color: #fff;

	top: 865px;
	left: 85%; 
	position: absolute;
	cursor: pointer;
	font-weight: bold;
}

.btnbtn:hover {
	background: #054947;
	transition: all .5s;
}

#section {
	height: 60vh;
}

a {
	text-decoration: none;
}
.fa-angle-down {
	text-decoration: none;
	color: #000;
}