@media screen and (max-width: 1366px){
	.btnbtn {
	top: 580px;
	left: 85%; 
	}

	.arrowdown {
	top: 600px;
	left: 50%;
	}
}

@media screen and (max-width: 641px){
	h1 {
		display: none;
	}

	.btnbtn {
		top: 450px;
		left: 42%;
		margin: 0px; 
	}

	.arrowdown {
		top: 500px;
		left: 50%;
		margin: 0px;
	}

	#contenedor {
	    width: 100%;
	    margin: 0px 100px 20px 0px;
	    overflow: hidden;
	    position: center;
	    height: 100vh;
}

	p.pp, h3, h5 {
		margin: 20px;
	}

	div.section2 {
		background: #DBDBDB;
		width: 100%;
		color: #000;
		padding: 15px;
		margin: 700px 0 0 0;
}
}

@media screen and (max-width: 619px){
	div.section2 {
		background: #DBDBDB;
		width: 100%;
		color: #000;
		padding: 15px;
		margin: 730px 0 0 0;
}
	body {
		min-width: 320px;
		max-width: 2060px;
	}
}



