* {
    padding: 0px;
    margin: 0px;
}

.dos {
    width: 1920px;
    height: 800px;
}

#contenedor {
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    position: center;
    height: 100vh;
}

#contenedor ul {
    list-style: none;
    width: 7680px;
    display: flex;

    animation: slider 15s infinite alternate;
}

@keyframes slider {
    0% { margin-left: 0px; }
    20% { margin-left: 0px; }

    25% { margin-left: -1920px; }
    45% { margin-left: -1920px; }

    50% { margin-left: -3840px; }
    70% { margin-left: -3840px; }

    75% { margin-left: -5760px; }
    100% { margin-left: -5760px; }
}
