* {
    padding: 0px;
    margin: 0px;
}

.dos {
    width: 1440px;
    height: 600px;
}

#contenedor {
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    position: center;
    height: 100vh;
}

#contenedor ul {
    list-style: none;
    width: 5760px;
    display: flex;

    animation: slider 15s infinite alternate;
}

@keyframes slider {
    0% { margin-left: 0px; }
    20% { margin-left: 0px; }

    25% { margin-left: -1440px; }
    45% { margin-left: -1440px; }

    50% { margin-left: -2880px; }
    70% { margin-left: -2880px; }

    75% { margin-left: -4320px; }
    100% { margin-left: -4320px; }
}
